@model Changepasswordviewmodel

<h2>Change Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="ChangePassword" asp-controller="Account">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Currntpassword"></label>
                <input asp-for="Currntpassword" class="form-control" />
                <span asp-validation-for="Currntpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sPassword"></label>
                <input asp-for="sPassword" class="form-control" />
                <span asp-validation-for="sPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sConfirmPassword"></label>
                <input asp-for="sConfirmPassword" class="form-control" />
                <span asp-validation-for="sConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>